@mixin image($offset: 0px) {
  background: url($social-media-img) calc(-38px * $offset) 0;
}

@mixin headers($color, $font-weight, $font-size, $line-height: 1) {
  color: $color;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin content-styles($width, $float: none) {
  width: $width;
  float: $float;
}

@mixin break-at($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

@mixin width-height($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin navbar($width: 100%, $height: auto, $float: none) {
  @include width-height($width, $height);
  float: $float;
}
