$red: #e65c43;
$white: #fff;
$gray: #666;
$bodyFont: "Roboto";
$bodyBgImg: '../images/bg.gif';
$logoImg: '../images/logo.png';
$socialMediaImg: '../images/social-media.png';
$graybarBg: #f5f6f6;
$headlineBg: #f25c43;
